PORT=5000
NODE_ENV=development

# Database configuration
MONGO_URI=mongodb://localhost:27017/erp_school_soft

# JWT Configuration
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRES_IN=7d
COOKIE_EXPIRES_TIME=7

# Frontend Configuration
FRONTEND_URL=http://localhost:3000
